#    ASSIGNMENT_NO 2

In [18]:
b=[1,2,2,3,3,3,6,5]#length
print( len (b))

8

In [19]:
x=[1,2,3,4,5]#addition of numeric no in list
y=[6,7,8,9,10]
print ('list_1='+str(x) + "list_2="+str(y))
z=x+y
print("new list is by adding x+y="+str(z))

list_1=[1, 2, 3, 4, 5]list_2=[6, 7, 8, 9, 10]
new list is by adding x+y=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [20]:
a=[1,5,8,7,9,66,55,99]#maximum number
max(a)

99

In [13]:
a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]#print no less than 5
for i in range (len(a)):
    if a[i]<5:
        print (a[i] )

1
1
2
3

In [16]:
sub_1=int(input("enter marks for phy"))#program for grade calculation
sub_2=int(input("enter marks for che"))
sub_3=int(input("enter marks for maths"))
sub_4=int(input("enter marks for english"))
sub_5=int(input("enter marks for urdu"))

sum=(sub_1+sub_2+sub_3+sub_4+sub_5)
print ('sum:',sum)
average=(sum)/5
print ('average:',average)

enter marks for phy0
enter marks for che55
enter marks for maths00
enter marks for english21
enter marks for urdu0
sum: 76
average: 15.2

In [17]:
if average>=80:
    print ('grade A+')
elif average >=70:
    print ("grade A")
elif average>=60:
    print ("grade b")
elif average>=50:
     print ("grade c")
elif average>=40 :
     print ("grade d")
else:
    print ("FAIL")

FAIL

In [17]:
 a=int(input("eneter no"))#even odd
    if a%2==0:
        print ("even")
    else:
        print ("odd")